# Node.js / Express
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Misc
*.DS_Store
Thumbs.db

# Editor/IDE specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
